#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 20em;
  padding: 5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.timer-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  background-color: #e10d0d;
  padding: 1rem;
  border: 4px double #fff;
  border-radius: 8px;
  max-width: 90%;
  margin: 1rem auto;
}
body {
  background-color: rgb(228, 6, 6);
  font-family: 'Press Start 2P', cursive;
}